$widthArticle: 100%;
$heighthArticle: 15px;
$sizehArticle: 2px;
$colorArticle: rgb(240, 239, 239);
$colorArticleR: #d61515;
$colorArticleB: black;
$borderBottonR: 2px solid $colorArticleR;

article {
   width: $container-width;
   margin: auto;
   .top {
      display: flex;
      justify-content: space-between;
      width: $widthArticle;
      font-family: "Poppins", sans-serif;
      margin-top: $sizehArticle * 15;
      color: $colorArticle;
      font-size: $sizehArticle * 13;

      .top-left {
         width: $widthArticle * 0.68;
         height: 100%;
         background-position: center;

         background-image: url("/src/images/img_0329.jpg");
         background-repeat: no-repeat;
         background-size: cover;
         aspect-ratio: 1/0.5;

         h3 {
            margin: $sizehArticle * 140 $sizehArticle * 20 0;
            text-align: left;
            color: lighten($color: $colorArticle, $amount: 15%);
         }
      }

      .top-right {
         width: $widthArticle * 0.3;
         font-size: $sizehArticle * 10;
         color: $colorArticleB;

         div {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: $sizehArticle * 10;

            div {
               width: $widthArticle * 0.4;
               height: 100%;
               background-size: cover;
               background-repeat: no-repeat;
               aspect-ratio: 1/0.7;
            }

            .item1 {
               background-image: url("/src/images/item1.jpg");
            }
            .item2 {
               background-image: url("/src/images/item2.jpg");
            }
            .item3 {
               background-image: url("/src/images/item3.jpg");
            }

            p {
               width: $widthArticle * 0.56;
               font-size: $sizehArticle * 8;
               margin: 0;
               font-weight: bold;
               text-align: left;
               padding-left: $sizehArticle * 2;
            }
         }
      }
   }

   .wrap-banner-google {
      width: $widthArticle;
      margin-top: $sizehArticle * 25;

      img {
         width: $widthArticle;
      }
   }

   .wrap-news {
      display: flex;
      justify-content: space-between;
      width: $widthArticle;

      > div {
         width: $widthArticle * 33;

         &:nth-child(2) {
            padding-left: $sizehArticle * 5;
            margin-left: $sizehArticle * 9;
         }

         &:nth-child(3) {
            padding-left: $sizehArticle * 5;
            margin-left: $sizehArticle * 9;
         }

         > h4 {
            color: $colorArticleR;
            font-size: $sizehArticle * 12;
            text-align: left;
            border-bottom: $borderBottonR;
         }

         p {
            text-align: left;
            font-size: $sizehArticle * 8;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
            margin: 0 0 $sizehArticle * 2;

            &:last-child {
               display: flex;
               align-items: center;
               font-size: $sizehArticle * 8;
               font-weight: 500;
               margin: 0 0 $sizehArticle * 12;
            }
         }

         span {
            img {
               margin: 0 $sizehArticle 0 $sizehArticle * 7;
               width: $sizehArticle * 9;
               height: $sizehArticle * 10;
               padding: 0;
               opacity: 0.6;
            }
         }
      }

      .wrap-lat {
         .lat {
            > div {
               height: 100%;
               background-size: cover;
               background-repeat: no-repeat;
               aspect-ratio: 1/0.5;
            }
            &:nth-child(2) {
               > div {
                  background-image: url("/src/images/lat1.jpg");
               }
            }

            &:nth-child(3) {
               > div {
                  background-image: url("/src/images/lat2.jpg");
               }
            }

            &:nth-child(4) {
               > div {
                  background-image: url("/src/images/lat3.jpg");
               }
            }

            &:nth-child(5) {
               > div {
                  background-image: url("/src/images/lat4.jpg");
               }
            }

            &:nth-child(6) {
               > div {
                  background-image: url("/src/images/lat5.jpg");
               }
            }
            &:nth-child(7) {
               > div {
                  background-image: url("/src/images/lat6.jpg");
               }
            }
         }
      }

      .photo-fact {
         div {
            background-size: cover;
            background-repeat: no-repeat;
            aspect-ratio: 1/0.5;
            margin-bottom: $sizehArticle * 25;

            p {
               color: $colorArticle;
               padding: $sizehArticle * 50 $sizehArticle * 25 $sizehArticle * 25;
               font-size: $sizehArticle * 9;
            }

            &:nth-child(2) {
               background-image: url("/src/images/photo-fact1.jpg");
            }
            &:nth-child(3) {
               background-image: url("/src/images/photo-fact2.jpg");
            }
            &:nth-child(4) {
               background-image: url("/src/images/photo-fact3.jpg");
            }

            &:nth-child(5) {
               background-image: url("/src/images/photo-fact4.jpg");
            }
         }
      }
   }
}
