@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter.ttf");
}

$font-size: 16px;
$font-family: "Inter", sans-serif;
$color: #dae0e0;
$container-width: 1480px;

body {
  margin: auto;
  text-align: center;
}

@import "header";
@import "nav";
@import "article";
@import "footer";
