$colorArticleBackground: rgb(190, 191, 196);
$borderArticleG: 2px solid rgb(142, 156, 89);
$colorArticleB: black;
$colorArticleG: green;
$widthArticle: 68%;
$sizeArticle: 7px;

.article {
   width: $widthArticle;
   background-color: $colorArticleBackground;
   border: $borderArticleG;
   color: $colorArticleB;
   padding: $sizeArticle;

   & h2 {
      padding: $sizeArticle 0;
      color: lighten($colorArticleG, $amount: 5%);
   }

   p {
      font-size: $sizeArticle * 2.7;
   }
}
