$colorAsideBackground: rgb(241, 147, 224);
$borderAside: 2px solid rgb(84, 139, 143);
$widthAside: 16%;
$sizeAside: 10px;
$colorAsideW: white;
$colorAsideB: black;
$colorAsideG: lightGrey;
$centerAside: center;

.aside {
   width: $widthAside;
   background-color: $colorAsideBackground;
   border: $borderAside;
   padding-left: $sizeAside;

   p {
      width: $sizeAside * 15;
      padding: $sizeAside;
      margin: $sizeAside $sizeAside;
      border-radius: $sizeAside * 0.5;
      color: $colorAsideW;
      font-size: $sizeAside * 1.8;
      text-align: $centerAside;
      text-align: $centerAside;
      transition: 0.2s;

      &:hover {
         padding: $sizeAside;
         color: $colorAsideW;
         font-size: $sizeAside * 1.8;
         background-color: $colorAsideG;
         color: $colorAsideB;
      }

      &:last-child {
         color: $colorAsideB;
         background-color: $colorAsideG;
      }

      &:last-child:hover {
         background-color: darken($colorAsideG, $amount: 15%);
         box-shadow: 0 0 $sizeAside * 0.7 $sizeAside * 0.2 $colorAsideG;
      }
   }

   #name,
   #comment {
      display: block;
      margin-bottom: $sizeAside;
      resize: none;
   }
}
