$colorFooterBackground: #e9bf8d;
$border: 1px solid green;
$colorFooter: #ffffff;
$sizeFooter: 18px;
$centerFooter: center;
$flexFooter: flex;

.footer {
   min-height: $sizeFooter * 7;
   background-color: $colorFooterBackground;
   border: $border;
   color: $colorFooter;
   display: $flexFooter;
   align-items: $centerFooter;
   justify-content: $centerFooter;

   small {
      font-size: $sizeFooter;
   }
}
