$colorNavBackground: rgb(90, 180, 207);
$borderNavGreen: 2px solid rgb(84, 143, 87);
$borderNavGrey: 1px solid lightgrey;
$widthNav: 14%;
$colorNavW: white;
$colorNavR: red;
$sizeNav: 2px;
$fontweight: 600;

.nav {
   width: $widthNav;
   background-color: $colorNavBackground;
   border: $borderNavGreen;

   ul,
   li {
      list-style: none;
      user-select: none;
      padding: $sizeNav;
      color: $colorNavR;
      font-weight: $fontweight;
      font-family: "Poppins", sans-serif;
   }

   li:hover {
      border: $borderNavGrey;
      background-color: darken($colorNavBackground, $amount: 7%);
      color: $colorNavW;
      box-shadow: 0 0 $sizeNav * 3 $sizeNav lightgray;
      padding: $sizeNav - 1;
   }
}
