@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter.ttf");
}

@import "header";
@import "nav";
@import "article";
@import "aside";
@import "footer";


#root {
  max-width: 1480px;
  margin: auto;
  border: 1px solid tomato;
 
  .main{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
