@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter.ttf");
}

// @import 'variables';
// @import 'scaffolding';

#root {
  max-width: 1480px;
  margin: auto;
  border: 1px solid tomato;
  height: 700px;
}
